.container {
  background: #ffffff;
  width: 100%;
}

.content {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1220px;
}

.info-project {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 45px 0;
  width: 100%;
}

.info-project h1 {
  font-size: 42px;
}


.info-project strong {
  font-size: 24px;
  font-weight: 400;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.project-card {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 25px;
}

.card-img {
  padding-right: 20px;
  width: 100%;
}

.card-img img {
  width: 100%;
}


.card-info {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 20px;
  width: 100%;
}

.card-info h1 {
  font-size: 32px;
  font-weight: 500;
}

.card-info span {
  line-height: 26px;
  font-size: 19px;
}

.btn {
  display: flex;
  gap: 10px;
}

.btn button {
  align-items: center;
  background: #6b62fe;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  font-size: 17px;
  gap: 15px;
  height: 45px;
  justify-content: center;
  width: 155px;
}

.github {
  align-items: center;
  background: #f2efef;
  border-radius: 4px;
  display: flex;
  gap: 30px;
  height: 75px;
  margin-top: 40px;
  padding: 20px;
  width: 100%;
}

.github img {
  border-radius: 4px;
  background: #0b4035;
  padding: 5px;
  width: 45px;
}

.github-action {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.github-action p {
  color: black;
  font-size: 19px;
}

.github-action button {
  background: #377DFF;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .project-card {
    display: flex;
    flex-direction: row;
  }

  .card-info {
    width: 50%;
  }

  .card-img {
    width: 50%;
  }
}