.container-dark-theme,
.container-lithe-theme {
  transition: background-color 0.5s ease-out, color 0.4s ease-out;
}

.container-lithe-theme {
  background-color: #F0F0F7; /* Use background-color para manter a consistência */
  color: black;
  width: 100%;
  padding-bottom: 55px;
}

.container-dark-theme {
  background-color: #1D2226;
  color: white;
  width: 100%;
  padding-bottom: 55px;
}

.content {
  padding: 40px 20px;
  margin: 0 auto;
  max-width: 1220px;
}

.info-project {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 45px 0;
  width: 100%;
}

.info-project h1 {
  font-size: 38px;
}

.info-project strong {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.project-card {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 50px;
  gap: 25px;
}

.container-lithe-theme .project-card {
  border-bottom: 2px solid #DDDDE0;
}

.container-dark-theme .project-card {
  border-bottom: 2px solid #48484F;
}

.project-card:last-child {
  border-bottom: none !important;
  padding-bottom: 10px !important; 
}

.card-img {
  padding-right: 20px;
  width: 100%;
}

.card-img img {
  width: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 20px;
  width: 100%;
}

.card-info h1 {
  font-size: 30px;
  font-weight: 700;
}

.card-info span {
  line-height: 26px;
  font-size: 16px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn button {
  align-items: center;
  background: black;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  gap: 10px;
  height: 45px;
  justify-content: center;
  width: 175px;
}

.github {
  align-items: center;
  background: #f2efef;
  border-radius: 4px;
  display: flex;
  gap: 30px;
  height: 75px;
  margin-top: 40px;
  padding: 20px;
  width: 100%;
}

.github img {
  border-radius: 4px;
  background: #0b4035;
  padding: 5px;
  width: 45px;
}

.github-action {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.github-action p {
  color: black;
  font-size: 19px;
}

.github-action button {
  background: #377DFF;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .project-card {
    display: flex;
    flex-direction: row;
  }

  .card-info h1 {
    font-size: 38px;
  }

  .card-info span {
    font-size: 18px;
  }

  .card-info {
    width: 50%;
  }

  .card-img {
    width: 50%;
  }

}