.my-container {
  background: white;
  width: 100%;
}

.my-content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 1220px;
}

.my-sobre {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.my-sobre span {
  color: #EB6608;
}

.my-sobre h1 {
  font-size: 38px;
}

.my-sobre p {
  line-height: 32px;
  font-size: 21px;
  text-align: justify
}

.photo-image {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 55px;
}

.photo-image img {
  width: 70%;
}

@media screen and (min-width: 1024px) {
  .my-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}