* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #272B35;
}

.nav {
    background-image: url('./assets/banner.svg');
    width: 100%;
    height: 668px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    text-decoration: none;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 22px;
    margin-right: 32px;
}

.nav ul li {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.btn-search {
    background: #6C63FF;
    width: 125px;
    height: 35px;
    border: 0;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.nav-info {
    display: flex;
    flex-direction: column;
    padding-top: 145px;
    padding-left: 45px;
}

.nav-info h1 {
    color: white;
    font-size: 95px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 102px;
}

.nav-info strong {
    color: springgreen;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.ultra {
    max-width: 1340px;
    margin: 0 auto;
}


.sobre {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
}

.sobre-info {
    display: flex;
}

main {
    width: 100%;
}
#sobre {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 90px;
}

.sobre {
    padding: 10px 45px;
}

.sobre h1 {
    display: flex;
    justify-content: center;
}

.sobre-content {
    display: flex;
    margin-top: 15px;
    gap: 76px;
    width: 1080px;
}


.sobre-text {
    margin-top: 93px;
}

.sobre-text strong, p {
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    letter-spacing: 0;
}

.sobre-text strong {
    font-size: 20px;
    text-align: justify;
    text-decoration-style: italic;
    font-weight: 400;
}

.sobre-text p {
    margin-top: 35px;
    font-size: 20px;
    font-weight: 700;
}

#tecks {
    width: 100%;
    height: 445px;
    background: black;
    margin-top: 32px;
}

.tecks {
    max-width: 1380px;
    padding: 45px 90px;
    margin: 0 auto;
}

.tecks .tecks-info {
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.tecks .tecks-info h1 {
    font-size: 45px;
}

.tecks .tecks-info p {
    width: 440px;
    font-size: 19px;
    font-weight: 400;
    margin-top: -10px;
    color: gray;
}


.teck-list {
    width: 100%;
    margin-top: 80px;
}

.teck-list ul {
    list-style: none; 
    display: grid;
    padding: 0 90px;
    grid-template-columns: 1fr 1fr 1fr;
}

.teck-list ul li {
   display: flex;
   color: white;
   gap: 20px;
   margin-bottom: 75px;
}