* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #272B35;
}

.nav {
    background-image: url('./assets/banner.svg');
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 668px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 22px;
    margin-right: 32px;
}

.nav ul li {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.btn-search {
    background: #6C63FF;
    width: 125px;
    height: 35px;
    border: 0;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.nav-info {
    display: flex;
    flex-direction: column;
    padding-top: 145px;
    padding-left: 45px;
}

.nav-info h1 {
    color: white;
    font-size: 95px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 102px;
}

.nav-info strong {
    color: springgreen;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.ultra {
    max-width: 1340px;
    margin: 0 auto;
}


.sobre {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
}

.sobre-info {
    display: flex;
}

main {
    width: 100%;
}
#sobre {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 90px;
}

.sobre {
    padding: 10px 45px;
}

.sobre h1 {
    display: flex;
    justify-content: center;
}

.sobre-content {
    display: flex;
    margin-top: 15px;
    gap: 76px;
    width: 1080px;
}


.sobre-text {
    margin-top: 93px;
}

.sobre-text strong, p {
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    letter-spacing: 0;
    text-align: justify;
}

.sobre-text strong {
    font-size: 18px;
    text-align: justify;
    text-decoration-style: italic;
    font-weight: 400;
}

.sobre-text p {
    margin-top: 35px;
    font-size: 20px;
    font-weight: 700;
}

.sobre-socials ul {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: end;
    padding-top: 195px;
}

.sobre-socials ul li {
    padding: 10px;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715);
    
}

.sobre-socials ul li:hover {
    padding: 10px;
    border-radius: 6px;
    background: black;
    border: 1 solid white;
}

@keyframes identifier {
    from{
        opacity: 0;
        padding: 6px;
    }
    to {
        opacity: 1;
        padding: 8px;
    }
}


.teck {
    margin-top: 5px;
}

.teck strong {
    font-weight: 400;
    font-size: 16px;
}

.teck h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}

#tecks {
    width: 100%;
    height: 481px;
    background: black;
    margin-top: 32px;
}

.tecks {
    max-width: 1380px;
    padding: 45px 90px;
    margin: 0 auto;
}

.tecks .tecks-info {
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.tecks .tecks-info h1 {
    font-size: 45px;
}

.teck strong {
    font-family: 'Roboto', sans-serif;
}

.tecks .tecks-info p {
    width: 440px;
    font-size: 19px;
    font-weight: 400;
    margin-top: -10px;
    color: gray;
}


.teck-list {
    width: 100%;
    margin-top: 80px;
}

.teck-list ul {
    list-style: none; 
    display: grid;
    padding: 0 90px;
    grid-template-columns: 1fr 1fr 1fr;
}

.teck-list ul li {
   display: flex;
   color: white;
   gap: 20px;
   padding-bottom: 50px;
}

.teck-list ul li img {
    width: 60px;
    height: 60px;
}


/* Sessão Projectos */

#projects {
    width: 100%;
}

.projects {
    max-width: 1340px;
    margin: 0 auto;
}

.projects .info h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    font-size: 35px;
    justify-content: center;
    margin-top: 28px;
    letter-spacing: 0;
}

.cards {
    padding: 0 90px;
}

.cards ul {
    list-style: none;
    display: flex;
    margin-top: 55px;
    gap: 35px;
    padding-bottom: 65px;
}

.cards ul li {
    background: #2D333B;
    height: 450px;
    border-radius: 8px;
    cursor: pointer;
}


.card {
    width: 100%;
}

.card-header {
    width: 100%;
}

.card-header img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-content {
    padding: 16px;
}

.card-content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #BFBBFF;
    letter-spacing: 0;
}

.card-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 15px;
    color: white;
    text-justify: justify;
    font-weight: 500;
    letter-spacing: 1px;
}

.site-git {
    width: 100%;
    height: 65px;
    background: #036B52;
    margin-bottom: 55px;
    border-radius: 5px;
    border-color: 1px solid #2D434B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
}


.icon-git {
    display: flex;
    gap: 25px;
    align-items: center;
}

.icon-git img {
    width: 43px;
}

.icon-git p {
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.btn {
    width: 135px;
    height: 36px;
    border: 0;
    border-radius: 4px;
    background: #006DFB;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}


/**/

#welcome-trybe {
    width: 100%;
    height: 715px;
    background: black;
}

#trybe-picture {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 45px;
    height: 105px;
}

.welcome-info {
    max-width: 1340px;
    display: grid;
    grid-template-columns: 1fr 415px;
    height: 450px;
    padding: 0 90px;
    padding-top: 75px;
    margin: 0 auto;
    gap: 75px;
}


.welcome-description {
    width: 100%;
    height: 475px;
}

.welcome-description h1 {
    color: #1c977a;
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    font-weight: 700;
    width: 225px;
}

.welcome-description p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 45px;
    line-height: 28px;
    font-size: 20px;
    letter-spacing: 0;
    text-align: justify;
}

.welcome-description button {
    width: 205px;
    height: 48px;
    background: #006DFB;
    margin-top: 55px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.welcome-description a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px
}


#enfoque strong {
    color: #A86D15;
}

.welcome-photo {
    width: 100%;
    height: 415px;
}


.welcome-photo img {
    width: 425px;
    height: 425px;
    border-radius: 12px;
}

/**/

#contato {
    width: 100;
}

.contato-content {
    max-width: 1340px;
    padding: 18px 90px 18px;
    margin: 0 auto;
}

.contato-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.contato-info h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: white;
}

.contato-info p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    width: 400px;
    line-height: 30px;
    font-weight: 400;
    color: gray;
}


.form {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0 auto;
    gap: 18px;


    padding-top: 85px;

    padding-bottom: 75px;
}

.form .icon-input input {
    width: 100%;
    height: 47px;
    
    border-radius: 4px;
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: 0;
    outline: none;
}

.icon-input input[type=text] {
    padding-left: 60px;
    border: none;
}

.icon-input {
    position: relative;
}

.icon-input img {
    position: absolute;
    left: 0;
    
    padding: 3px 11px;
    transition: .3s;
}

.input[type=text] {
    outline: none;
    box-sizing: border-box;
    transition: .3s;
}

input[type=text]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.icon-input input[type=text]:focus {
    color: black;
}

.icon-input.inputIcon img {
    background: #6C63FF;
    padding: 14.4px 12px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

#mensagem {
    background: white;
    color: black;
    padding: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
    border: none;
}

.btn-submit {
    height: 45px;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    background: #07B36C;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 200px;
    background: black;
}

.footer-content {
    max-width: 1340px;
    padding: 0 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
    border-bottom: 1px solid rgb(44, 44, 44);
}

.footer-content ul {
    list-style: none;
    display: flex;
    gap: 115px;
    align-items: center;
}

.footer-content ul li {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 19px;
    
}

.footer-content img {
    margin-top: 23px;
}

.socials {
    width: 100%;
}

.socials ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 20px;
    margin-left: 28px;
}

.socials p {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

