.header-container {
  background: #ffffff;
  color: black;
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1220px;
}

.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
}

.header-content img {
  margin-left: -10px;
  width: 35px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  list-style: none;
  padding: 20px 0;
  transition-duration: 20ms;
  transition-timing-function: ease;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1000;
}

.nav-list li {
  background: rgb(245, 244, 244);
  border-radius: 4px;
  color: rgb(85, 74, 74);
  height: 55px;
  font-size: 16px;
  font-weight: bold;
  padding: 17px 15px;
  width: 100%;
}

.nav-list li:hover {
  background: #f1ecec;
}

.nav-list-toggle {
  display: none;
}

.link {
  color: black;
  text-decoration: none;
}

.btn-toggle {
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  width: 24px;
}

.btn-toggle img {
  width: 38px;
}

.menu-desk {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header-content {
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
  }
  .header-container {
    height: 55px;
  }

  .menu {
    align-items: center;
  }

  .menu-desk {
    display: flex;
    gap: 25px;
    padding-right: 20px;
  }

  .menu-desk li {
    list-style: none;
  }

  .link {
    font-weight: 700;
    font-size: 19px;
    transition: 3ms ease-in-out;
  }

  .link:hover {
    color: #eb6608;
  }

  .nav-list {
    display: none;
  }

  .btn-toggle {
    display: none;
  }
}

