.footer-container-lithe-theme {
  background: #fdfdfd;
  border-top: 1px solid rgb(234, 224, 224);
  color: rgb(71, 66, 66);
  transition: 1s;
  width: 100%;
}

.footer-container-dark-theme {
  background-color: #1D2226;
  border-top: 1px solid rgb(68, 68, 68);
  transition: 1s;
  color: white;
}

.footer-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.footer-content strong {
  font-size: 14px;
  font-weight: 700;
}

