.footer-container {
  background: #fdfdfd;
  border-top: 1px solid rgb(234, 224, 224);
  width: 100%;
}

.footer-content {
  align-items: center;
  color: rgb(71, 66, 66);
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.footer-content strong {
  font-size: 14px;
  font-weight: 700;
}

