.footer-container-lithe-theme {
  background: black;
  color: rgb(255, 255, 255);
  transition: 2ms;
  height: 75px;
  width: 100%;
}

.footer-container-dark-theme {
  background-color: black;
  transition: 2ms;
  height: 75px;
  color: white;
}

.footer-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.footer-content strong {
  font-size: 14px;
  font-weight: 700;
}