.sobre-container-dark-theme,
.sobre-container-lithe-theme {
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.sobre-container-lithe-theme {
  background-color: #F0F0F7;
  color: black;
  width: 100%;
}

.sobre-container-dark-theme {
  background-color: #1D2226;
  color: white;
  width: 100%;
}

.sobre-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.sobre-content img {
  margin: 15px auto;
  display: flex;
  width: 270px;
}

.sobre-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 26px;
  text-align: justify;
}

.sobre-info h1 {
  font-size: 30px;
  line-height: 31px;
  max-width: 320px;
}

.sobre-info p {
  font-size: 16px;
  font-weight: 500;
}

.sobre-info strong {
  font-size: 16px;
}

.avatar-user {
  width: 100%;
}

.oraganization {
  align-items: center;
  display: flex;
  margin-top: 25px;
  width: 100%;
}

.organizatios-icon {
  display: flex;
  flex-direction: column;
  gap: -20px;
  align-items: flex-start;
}

.organizatios-icon img {
  width: 40px;
}

.formacao {
  align-items: center;
  display: flex;
  gap: 15px;
}

.formacao strong {
  font-weight: 300;
}

.btn-sobre-user {
  background: #6161FF;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  padding: 12px 30px;
}

/* @media screen and (min-width: 768px) and (max-width: 1023px) {
  // novo layout
} */

@media screen and (min-width: 1024px) {
  .sobre-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1200px;
    padding: 55px 20px;
  }

  .avatar-user {
    width: 40%;
  }

  .avatar-user img {
    width: 85%;
  }

  .sobre-info {
    width: 60%;
    gap: 30px;
  }

  .sobre-info h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 55px;
    max-width: 390px;
  }

  .sobre-info p {
    font-size: 18px;
  }

  .sobre-info strong {
    font-size: 18px;
  }
}