.contato-container-lithe-theme {
  border-top: 1px solid rgb(239, 232, 232);
  color: black;
  transition: 2ms;
  padding: 20px;
  width: 100%;
}

.contato-container-dark-theme {
  background: #1B1D22;
  color: white;
  transition: 2ms;
  padding: 20px;
  width: 100%;
}

.contato-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 auto;
  max-width: 1220px;
  padding: 50px 20px;
}

.contact-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-image img {
  width: 80%;
}

.contact-us {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.contact-us h1 {
  font-size: 30px;
}

.contact-us p {
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}

.btn-contact {
  display: grid;
  gap: 10px;
}

.btn-contact button {
  align-items: center;
  animation-duration: 8ms;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  font-size: 17px;
  gap: 10px;
  height: 85px;
  transition: ease-in-out;
  justify-content: center;
  outline: none;
  width: 100%;
}

.btn-contact button span {
  color: rgb(241, 234, 234);
  font-size: 19px;
  font-weight: bold;
  margin-top: 5px;
}

.btn-contact button {
  background: rgb(1, 111, 255);
}

.btn-contact button img {
  width: 35px;
}

.btn-contact button:first-child {
  background: #07B36C;
}

.btn-contact button:first-child img {
  width: 35px;
}

.btn-contact button:first-child:hover {
  background: #12cc7e;
}

.btn-contact button:last-child {
  background: #2e265c;
}

.btn-contact button:last-child:hover {
  background: #3d3181;
}

.btn-contact button:last-child img {
  width: 35px;
}

@media screen and (min-width: 968px) {
  .contato-content {
    display: flex;
    flex-direction: row;
  }

  .contact-us h1 {
    font-size: 38px;
  }

  .contact-us p {
    font-size: 18px;
  }

  .btn-contact {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
  }

  .contact-image {
    width: 50%;
  }

  .contact-us {
    width: 50%;
  }
}