.trybe-container {
  width: 100%;
  padding: 20px;
}

.trybe-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 10px;
}

.trybe-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.trybe-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.trybe-avatar img {
  border-radius: 6px;
}

.trybe-description {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 35px;
}

.trybe-description h1 {
  max-width: 250px;
  line-height: 40px;
  color: #2FC18C;
}

.trybe-description p {
  line-height: 26px;
  text-align: justify;
  font-size: 16px;
}

.trybe-description h4 {
  margin-bottom: -20px;
}

.timeline {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.timeline ul {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
}

.timeline ul li {
  width: 100%;
  height: 130px;
  background-color: black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.timeline ul li:hover {
  border: 1px solid rgb(190, 186, 186);
}

.modulo-status {
  font-size: 11px;
}

.modulo-img {
  width: 40px;
  margin-top: 25px;
}

.modulo-name {
  font-size: 12px;
  max-width: 85px;
  line-height: 18px;
  text-align: center;
  overflow: hidden;
} 

.link-trybe {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.link-trybe button {
  width: 150px;
  height: 45px;
  border-radius: 4px;
  border: none;
  outline: none;
  background: #2FC18C;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}

/* @media screen and (min-width: 768px) and (max-width: 1023px) {
  // novo layout
} */

@media screen and (min-width: 1024px) {
  .trybe-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 55px 20px;
  }

  .trybe-info {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }

  .trybe-info h1 {
    font-size: 48px;
    font-weight: 700;
    max-width: 280px;
    line-height: 55px;
  }

  .trybe-avatar {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #036B52;
    border-radius: 6px;
  }

  .trybe-avatar strong {
    font-size: 25px;
  }

  .trybe-avatar img {
    margin-top: 45px;
  }

  .trybe-description {
    width: 50%;
  }

  .timeline ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}